body {
    background-image:url(../doodles.png);
    font-family:Verdana,sans-serif;
    margin-top: 108px;
    background-attachment: fixed;
}

#header{
    min-height: 80px;
    padding: 0px 0px;
    background-color: #fff;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    position: fixed;
    margin-top: -109px;
}

.note{
    font-family: cursive;
}

#header-img {
    width: 200px;
    height: 85px;

}
#nar-bar{
    padding-left: 20px
    
}

input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }

input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color:#191ce9;
    font-size: medium;
    font-weight: bold;
    color: white;
  }

.nav-link{
    text-decoration: none;
    text-decoration-color: none;
    list-style-type: none;

}
#nav-bar a{
    text-decoration: none;
    list-style-type: none;
    color:#c28721;
    font-size: medium;

}

#nav-bar ul{
    text-decoration: none;
    list-style-type: none;
    display: inline-flex;
    padding-left: 800px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;

}

#nav-bar li{
    padding-right: 20px
}

#alpha{
    text-align: center;
    color:green;
    font-family: Verdana,sans-serif;
}
#product{
    
}
.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}


#works{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
    
iframe{
  max-width: 1222px;
  width: 100%;
}


#kids, #pre, #teen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 10px;
    border: 5px solid #111542;
    border-radius: 5px;
}
    
.hills {
    background-color:green;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

#pricing ul{
    list-style-type: none;
    text-decoration: none;
    margin-top: -8px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#pricing{
    margin-top: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pricing li{
    text-decoration-color: red;
}

.lik{
    background-color: #2915f0;
    max-width: 175px;
    border: none;
    margin-bottom: 7px;
    padding: 5px;
    border: 2px solid #111542;
}



footer{
    margin-top: 30px;
    background-color: #101010;
    padding: 6px;
}

footer ul{
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    display: flex;
}
      
span{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    color: #444;
}
footer a{
    text-decoration: none;
    list-style-type: none;
    color:green;
    font-size: larger;
    font-family:sans-serif; 

}
footer li{
    padding-right: 20px;
}

.icon{
    size:100x;
}

